.app-conatiner{
  width:93%;
  background-color: white;
  padding:10px;
  margin:25px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 4px solid #551e53;
  border-right: 4px solid #551e53;
  border-radius: 12px;
  margin-top:0px;
  margin-bottom:0px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size:38px;
  font-weight:bold;
  text-align:center;
  font-family:"Adobe Arabic";
  padding-top:30px;
  margin-bottom:3px;

}
.paragraph_1{
  font-size:23px;
  font-family:"Adobe Arabic";
  margin-top:0px;
}
.para_1{
  font-size:34px;
  font-family:"Adobe Arabic";
  font-weight:bold;
  margin-bottom:0px;
  margin-top:4px;

}
.line{
  height:2px;
 background-color:black;
 width:94%;
 
}
.anchor_ele{
  font-size:23px;
  font-family:"Adobe Arabic";
  color:black;
  font-weight:normal;
  text-decoration: none;
  font-weight: bold;
  padding-top:0px;
  margin-top:0px;
  text-align: center;
 
}
.background{
  background-color: grey;
 margin-top:0px;
 margin-bottom:0px;
 padding-left: 160px;
  padding-right: 160px;

}
.side_nav{
  height:100%;
  position:fixed;
  left:0;
  margin-top:63px;
  background-color: chartreuse;
  width:160px;
  padding-right:24px;
}

a{
  text-decoration: none;
  font-family:"Adobe Arabic";
  font-size:21px;
  display:block;
  padding-left:20px;
  margin-top:20px;

}
@media (max-width: 576px) {
  .heading{
    font-size: 21px;
    margin-top:21px;
  }
  .paragraph_1{
    font-size: 18px;
  }
  .anchor_ele{
    font-size: 18px;
  }

  .app-conatiner{
    width:78%;
    margin-top:0px;
  margin-bottom:0px;
  padding:17px;
  margin-left:40px;
 
   
  }
  
  .background{
    padding-left:30px;  
    padding-right:30px;  
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2px;
  }
  .side_nav{
    width:50px;
    
  }
  a{
    font-size:12px;
    padding:6px;
    margin:0px;
  }

}