.para_1{
    font-size:32px;
    font-family:"Adobe Arabic";
    font-weight:bold;
    margin-bottom:0px;
    margin-top:4px;
    text-align: center;
  
  }
  .line_width{
    height:3px;
   background-color:black;
   width:94%;
   
  }
  .activity_align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .activity_paragraph{
    font-size:26px;
    font-family:"Adobe Arabic";
   
   
  }
  .active_paragraph{
    font-size:26px;
    font-family:"Adobe Arabic";
   
   margin-top:0px;
  }
  