.header{
    background-color: lightblue; 
  padding: 15px; 
  color: black;
  text-align: center;
  font-size: 25px; 
  font-weight: bold;
  position: fixed; 
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%; 
  
  margin-top:0px;
  margin-bottom:0px;
}
.head_cont{
    position:fixed;
    width:100%;
    
    
}
.heading_main{
  font-family:"Adobe Arabic";
  font-size:23px;
  
}
.img_sty{
  width:140px;
  height:48px;
 
}
@media  (max-width:768px) {
  .header{
    display:flex;
    justify-content: space-around;
  }
  .heading_main{
    font-size:20px;
  }
  .img_sty{
    padding-right:10px;
  
  }
  
}